{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a PhD student at UT Austin.</h3>
        <h3>I focus on plant insect interactions and plant chemistry.</h3>
        <h3>Check out some of my statistical <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more information see my academic &amp; professional <a href="/MyCV.pdf">resume</a>.</h3>
        <h3>Or contact me by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
